!!! html5
%html
  %head
    %title LEC Application Index
  %body
    %h1 You seem to be a little lost...
    %p
      %a{:href => "/participant"} Go here if you are a participant.
    %p
      %a{:href => "/presenter"} Go here for what to put on the projector.
    %p
      %a{:href => "/manager"} Go here to manage the leaderboard.
